<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COVIDCare Healthcare Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <center>
        <nav class="navbar navbar-light fornav" style="border-radius:0px;">
            <a href="{{url_for('home')}}" class="navbar-brand navbar-title" style="border-radius:0px;">COVIDCare</a>
        </nav>
    </center>


    <div class="back-btn">

        <a href="{{url_for('home')}}" class="link-primary">
            <img src="https://img.icons8.com/color/48/000000/back--v1.png" style="width: 25px;"/> 
            Back</a>
            
    </div>

    <div class="wrapper">

        <div class="logo">
            <img src="{{ url_for('static', filename='pictures/chatbot.png')}}" width="350" height="350" />
        </div>
        <div class="form">
            <div>
                <a href="{{url_for('playlist')}}" class="button"> 
                    <img src="https://img.icons8.com/fluency/48/000000/disappointed.png" style="padding-right:10px" /> 
                    Depressed </a> <br><br>

                <a href="{{url_for('heathy')}}"  class="button"> 
                    <img src="https://img.icons8.com/emoji/48/000000/bowl-with-spoon-emoji.png " style="padding-right:10px" />
                    Eating Pattern</a> <br><br>

                <a href="{{url_for('time')}}"  class="button"> 
                    <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-book-office-stationery-justicon-lineal-color-justicon.png" style="padding-right:10px;width:50px " />
                    Workload</a> <br><br>
            </div>
        </div>
</body>

</html>