<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calming Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/musicplayer.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        #playlist {
            list-style: none;
            text-align: center;
        }
        
        #playlist li a {
            color: black;
            text-decoration: none;
        }
        
        #playlist .current-song a {
            color: blue;
        }
    </style>

</head>

<body>
    <center>
        <nav class="navbar navbar-light fornav" style="border-radius:0px;">
            <a href="{{url_for('home')}}" class="navbar-brand navbar-title" style="border-radius:0px;">Calming Playlist</a>
        </nav>
    </center>


    <div class="back-btn">

        <a href="{{url_for('helper')}}" class="link-primary">
            <img src="https://img.icons8.com/color/48/000000/back--v1.png" style="width: 25px;" /> Back

        </a>
    </div>


    <div class="c-containter">
        <div class="music-container">
            <section class="album-cover">

                <button class="arrow left" id="prev">
                    <img  src="https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/arrow_left.svg" alt="Next Music">
                </button>

                <img width="1000px" height="1000px" src="http://res.cloudinary.com/dkzj4hdmd/image/upload/v1536400483/cover_yz2mak.jpg" class="cover" alt="From One To Nine by Marcel Pequel">

                <button class="arrow right" id="next">
                    <img  src="https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/arrow_right.svg" alt="Next Music">
                </button>
            </section>
            <section class="music-player">
                <h1 class="music-player__title"></h1>
                <h2 class="music-player__author"></h2>
                <div class="music-time">
                    <p class="music-time__current"></p>
                    <p class="music-time__last"></p>
                </div>
                <div class="music-bar" id="progress">
                    <div id="length"></div>
                </div>
                <div class="music-order">
                    <div class="music-order__loop is-loop" id="loop">
                        <img src="https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/loop.svg" alt="Loop music">
                    </div>
                    <div class="music-order__shuffle" id="shuffle">
                        <img src="https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/shuffle.svg" alt="Shuffle music">
                    </div>
                </div>
                <div class="music-control">
                    <div class="music-control__backward" id="backward">
                        <img src="https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/backward.svg" alt="Backward">
                    </div>
                    <div class="music-control__play" id="play">
                        <img src="https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/play.svg" alt="Play" class="play">
                    </div>
                    <div class="music-control__forward" id="forward">
                        <img src="https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/forward.svg" alt="Forward">
                    </div>
                </div>
            </section>
        </div>

    </div>

    <script>
        (function IIFE() {
            var list = [{
                    id: 1,
                    url: "{{ url_for('static', filename='playlist/millionMilesAway.mp3')}}",
                    author: "The Offspring",
                    title: "Million Miles Away",
                    cover: "{{ url_for('static', filename='playlistcover/millionmilesaway.jpg')}}"
                }, 
                
                {
                    id: 2,
                    url: "{{ url_for('static', filename='playlist/fightSong.mp3')}}",
                    author: "Rachel Platten",
                    title: "Fight Song",
                    cover: "{{ url_for('static', filename='playlistcover/Fight_Song_by_Rachel_Platten.png')}}"
                },

                {
                    id: 3,
                    url: "{{ url_for('static', filename='playlist/strangeLand.mp3')}}",
                    author: "NIKI & Phum Viphurit",
                    title: "Strange Land",
                    cover: "{{ url_for('static', filename='playlistcover/artworks-i1VbifvF4Xjg-0-t500x500.jpeg')}}"
                },
            ];



            var currentId = 0;
            var isPlaying = false;
            var isLoop = true;
            var isShuffle = false;
            var currentAudio = "music1";
            var timer = null;
            var loopOne = false;

            var currentTimeIndicator = document.querySelector(".music-time__current");
            var leftTimeIndicator = document.querySelector(".music-time__last");
            var progressBar = document.getElementById("length");
            var playBtn = document.querySelector(".play");
            var cover = document.querySelector(".cover");
            var title = document.querySelector(".music-player__title");
            var author = document.querySelector(".music-player__author");

            var loopBtn = document.getElementById("loop");
            var shuffleBtn = document.getElementById("shuffle");
            var forwardBtn = document.getElementById("forward");
            var backwardBtn = document.getElementById("backward");
            var prevBtn = document.getElementById("prev");
            var nextBtn = document.getElementById("next");
            var progressDiv = document.getElementById("progress");

            function play(e) {
                if (!isPlaying) {
                    // console.log('play');
                    e.target.src =
                        "https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/pause.svg";
                    e.target.alt = "Pause";
                    isPlaying = true;
                    document.getElementById(currentAudio).play();
                    showTime();
                } else {
                    // console.log('pause');
                    e.target.src =
                        "https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/play.svg";
                    e.target.alt = "Play";
                    document.getElementById(currentAudio).pause();
                    isPlaying = false;
                    clearInterval(timer);
                }
            }

            function changeBar() {
                var audio = document.getElementById(currentAudio);
                var percentage = (audio.currentTime / audio.duration).toFixed(3);
                progressBar.style.transition = "";
                // console.log(audio.currentTime);

                //set current time
                var minute = Math.floor(audio.currentTime / 60);
                var second = Math.floor(audio.currentTime % 60);
                var leftTime = audio.duration - audio.currentTime;
                currentTimeIndicator.innerHTML =
                    ("0" + minute).substr(-2) + ":" + ("0" + second).substr(-2);

                //set left time
                var leftMinute = Math.floor(leftTime / 60);
                var leftSecond = Math.floor(leftTime % 60);

                leftTimeIndicator.innerHTML =
                    ("0" + leftMinute).substr(-2) + ":" + ("0" + leftSecond).substr(-2);

                //set time bar
                progressBar.style.width = percentage * 100 + "%";
            }

            function showTime() {
                timer = setInterval(function() {
                    return changeBar();
                }, 500);
            }

            function nextMusic(mode) {
                playBtn.src =
                    "https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/play.svg";
                playBtn.alt = "Play";
                document.getElementById(currentAudio).pause();
                isPlaying = false;
                clearInterval(timer);

                if (mode === "next") {
                    currentId = currentId + 1 > list.length - 1 ? 0 : currentId + 1;
                    init();
                } else {
                    currentId = currentId - 1 < 0 ? list.length - 1 : currentId - 1;
                    init();
                }
            }

            function shuffle(e) {
                isShuffle = !isShuffle;
                if (isShuffle) {
                    e.target.parentNode.classList.add("is-loop");
                } else {
                    e.target.parentNode.classList.remove("is-loop");
                }
            }

            function backward() {
                var audio = document.getElementById(currentAudio);
                audio.currentTime -= 5;
                if (!isPlaying) {
                    changeBar();
                }
            }

            function forward() {
                var audio = document.getElementById(currentAudio);
                audio.currentTime += 5;
                if (!isPlaying) {
                    changeBar();
                }
            }

            function stopMusic() {
                playBtn.src =
                    "https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/play.svg";
                playBtn.alt = "Play";
                isPlaying = false;
            }

            function goToNextMusic() {
                var newId = currentId;
                while (isShuffle && !loopOne && newId === currentId) {
                    newId = Math.floor(Math.random() * Math.floor(list.length - 1));
                }

                if (!isShuffle && !loopOne) {
                    currentId = currentId + 1 > list.length - 1 ? 0 : currentId + 1;
                }
                if (!isShuffle && loopOne) {
                    currentId = currentId;
                }

                if (isShuffle) {
                    currentId = newId;
                }
                init();
                document.getElementById(currentAudio).play();
            }

            function loop(e) {
                var audio = document.getElementById(currentAudio);

                if (!isLoop && !loopOne) {
                    isLoop = true;
                    loopOne = false;
                    // console.log('is loop');
                    e.target.parentNode.classList.add("is-loop");
                    e.target.src =
                        "https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/loop.svg";
                    audio.loop = false;
                    audio.onended = function(e) {
                        return goToNextMusic();
                    };
                    console.log(isLoop, loopOne);
                } else if (isLoop && !loopOne) {
                    // console.log('is loop one');
                    isLoop = true;
                    loopOne = true;
                    e.target.parentNode.classList.add("is-loop");
                    e.target.src =
                        "https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/loopone.svg";
                    audio.loop = true;
                    audio.onended = function(e) {
                        return goToNextMusic();
                    };
                    console.log(isLoop, loopOne);
                } else {
                    // console.log('not loop');
                    isLoop = false;
                    loopOne = false;
                    e.target.parentNode.classList.remove("is-loop");
                    e.target.src =
                        "https://snowleo208.github.io/100-Days-of-Code/7.%20Music%20Player/img/loop.svg";
                    audio.loop = false;
                    audio.onended = function(e) {
                        return stopMusic();
                    };
                    console.log(isLoop, loopOne);
                }
            }

            function progress(e) {
                var audio = document.getElementById(currentAudio);
                //get current position and minus progress bar's x position to get current position in progress bar
                var pos =
                    (e.pageX - progressDiv.getClientRects()[0].x) /
                    progressDiv.getClientRects()[0].width;
                audio.currentTime = pos * audio.duration;
                changeBar();
            }

            function init() {
                //reset music duration and setup audio
                var audio =
                    document.getElementById(currentAudio) === null ?
                    new Audio() :
                    document.getElementById(currentAudio);
                audio.src = list[currentId].url;
                audio.id = currentAudio;
                document.getElementById(currentAudio) === null ?
                    document.body.appendChild(audio) :
                    "";

                progressBar.style.transition = "none";
                progressBar.style.width = "0%";
                document.getElementById(currentAudio).currentTime = 0;

                title.innerHTML = list[currentId].title;
                author.innerHTML = list[currentId].author;
                cover.src = list[currentId].cover;

                //set current time
                audio.addEventListener("loadedmetadata", function() {
                    var leftMinute = Math.floor(audio.duration / 60);
                    var leftSecond = Math.floor(audio.duration % 60);
                    currentTimeIndicator.innerHTML = "00:00";
                    leftTimeIndicator.innerHTML =
                        ("0" + leftMinute).substr(-2) + ":" + ("0" + leftSecond).substr(-2);
                    progressBar.style.transition = "";
                });

                //set loop
                document.getElementById(currentAudio).onended = function(e) {
                    return goToNextMusic(e);
                };
            }

            playBtn.addEventListener("click", play);
            loopBtn.addEventListener("click", loop);

            shuffleBtn.addEventListener("click", shuffle);
            forwardBtn.addEventListener("click", forward);
            backwardBtn.addEventListener("click", backward);

            prevBtn.addEventListener("click", function(e) {
                return nextMusic("prev");
            });
            nextBtn.addEventListener("click", function(e) {
                return nextMusic("next");
            });
            progressDiv.addEventListener("click", function(e) {
                progress(e);
            });

            init();
        })();
    </script>
</body>

</html>